<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.project.final_project">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ImageNumbers"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ImageDetection"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EasyPaint"
            android:theme="@style/Theme" />
        <activity
            android:name=".LearnNumbers"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".mathforkids.SettingsActivity"
            android:parentActivityName=".mathforkids.MainActivity2" />
        <activity
            android:name=".mathforkids.ScoreActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".mathforkids.QuestionActivity"
            android:label="Let&apos;s learn Math"
            android:parentActivityName=".mathforkids.MainActivity2" />
        <activity
            android:name=".mathforkids.GameOverActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".mathforkids.AchievementActivity"
            android:parentActivityName=".mathforkids.MainActivity2" />
        <activity
            android:name=".mathforkids.AboutActivity"
            android:parentActivityName=".mathforkids.MainActivity2" />
        <activity
            android:name=".mathforkids.MainActivity2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ActivityDraw"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Alphabet"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Math"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Drawing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Pattern"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Alphabets"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Home"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>